html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $font-color3;
    font-size: 15px;
    font-weight: 400;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    color: $font-color5;
}

//press footer to bottom

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

//press footer to bottom
//common things

.container  {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.light-title {
    font-size: 36px;
    span {
        font-size: 36px;
        color: $button-blue;
    }
    &--2nd-level {
        font-size: 30px;
        line-height: 2.2;
        color: #fff;
        span {
            color: white;
            font-weight: 500;
        }
        &-black {
            color: #000;
        }
    }
}

.description {
    max-width: 675px;
    margin: 25px auto 55px;
    font-size: 16px;
    line-height: 30px;
    color: $font-color5;
}

.link-btn {
    text-align: center;
    a {
        font-size: 16px;
        line-height: 1.15;
        background-color: $button-blue;
        color: #fff;
        border: none;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        padding: 18px 10px;
        border-radius: 28px;
        width: 190px;
    }
}

//common things
//start bages list

.bage {
    color: $bage-color;
    position: relative;
    padding-left: 26px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &--wp::after {
        content: "WordPress";
    }
    &--wp::before {
        background-image: url(../images/icons/wp.svg);
        width: 16px;
        height: 16px;
    }

    &--plugin::after {
        content: "Plugin";
    }
    &--plugin::before {
        background-image: url(../images/icons/wp.svg);
        width: 16px;
        height: 16px;
    }

    &--psd::after {
        content: "PSD";
    }
    &--psd::before {
        background-image: url(../images/icons/ps.svg);
        width: 13px;
        height: 17px;
    }

    &--html::after {
        content: "HTML";
    }
    &--html::before {
        background-image: url(../images/icons/ht3.png);
        width: 15px;
        height: 17px;
    }
}


//end bages list
//start star raiting style

.jq-ry-normal-group svg {
    fill: #fff;
    stroke: #ffc000;
    stroke-width: 40;
}

.jq-ry-rated-group svg {
    fill: #ffbf00;
}

//end star raiting style
//start breadcrumbs 

.breadcrumbs {
    &__list {
        li {
            display: inline-block;
            position: relative;
            a, span {
                color: #fff;
                font-size: 15px;
                line-height: 2.2;
            }
            & + li {
                padding-left: 18px;
                &::before {
                    content: "/";
                    position: absolute;
                    left: 5px;
                    top: 7px;
                    color: #fff;
                }
            }
            &:last-child {
                a,
                span {
                    color: #bfcad7;
                }
            }
        }
    } 
}
//end breadcrumbs 
//start price-range

.irs {
    &-min,
    &-max {
        display: none;
    }
    &-from,
    &-single,
    &-to {
       top: 45px;
    }
}

.irs--flat {
    .irs-line {
        background-color: #efedf3;
        height: 5px;
    }
    .irs-bar {
        background-color: $bage-color;
        height: 5px;
    }
    .irs-handle {
        width: 18px;
        height: 18px;
        border: 4px solid $button-blue;
        background-color: #fff;
        border-radius: 50%;
        top: 18px;
        &>i:first-child {
            display: none;
        }
    }

    .irs {
        &-from,
        &-single,
        &-to {
            font-family: $main-font;
            color: $bage-color;
            width: 80px;
            text-align: center;
            font-size: 15px;
            line-height: 1.333;
            text-shadow: none;
            padding: 6px 0 7px;
            border-radius: 16px;
            background-color: #f1ecf9;
            top: 50px;
            z-index: 100;
            &::before {
                display: none;
            }
        }
        &-single {
            width: 100px;
        }
    }
    
}

//end price-range
//start pagination 

.pagination {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    &__list {
        display: inline-block;
        margin: 0 6px;
        li {
            display: inline-block;
            & + li {
                margin-left: 6px;
            }
        }
        a, span {
            display: block;
            text-align: center;
            width: 50px;
            color: #747b86;
            background-color: #fff;
            font-size: 16px;
            line-height: 38px;
            border-radius: 19px;
            font-weight: 500;
            &.active {
                background-color: $button-blue;
                color: #fff;
            }
        }
    }
    &__prev, 
    &__next {
        display: block;
        a, span {
        display: block;
        text-align: center;
        width: 50px;
        color: #747b86;
        background-color: #fff;
        font-family: $icon-font;
        font-size: 16px;
        line-height: 38px;
        border-radius: 19px;
        font-weight: 400;
        }
        &.disabled {
            a, span {
                color: #fff;
                background-color: $bage-color;
            }
        }
    }
    &--center {
        justify-content: center;
    }
    &--left {
        justify-content: flex-start;
    }
}

//end pagination
//start selector box

.selector-box {
    display: flex;
    align-items: center;
    &__info {
        font-size: 24px;
        color: #000;
        span {
            font-weight: 500;
        }
    }
    &__link {
        a {
            font-size: 16px;
            color: $font-color5;
            &:hover {
                color: $button-blue;
            }
        }
        & + & {
            margin-left: 40px;
        }
    }
    &__filter {
        a {
            font-size: 16px;
            color: $font-color5;
            padding-right: 21px;
            position: relative;
            &::after {
                content: "\e874";
                font-size: 10px;
                font-family: $icon-font;
                position: absolute;
                right: 0;
                top: 4px;
            }
            &:hover {
                color: $button-blue;
            }
        }
    }
    &__group {
        border: 1px solid #eceff2;
        border-radius: 3px;
        & + & {
            margin-left: 30px;
        }
        &--filter {
            border: none;
            height: 100px;
            padding: 0 30px;
            display: flex;
            align-items: center;
            border-right: 1px solid #eceff2;
            border-left: 1px solid #eceff2;
        }
        &--select {
            border-color: transparent;
            & + & {
                margin-left: 75px;
            }
        }
        &--button {
            padding: 0 7px;
        }
    }
    &__select {
        border: 1px solid #eceff2;
        border-radius: 3px;
        outline: none;
        width: 220px;            
        height: 44px;
        padding-left: 18px;
        padding-right: 40px;
        font-size: 14px;
        font-weight: 400;
        color: $font-color5;
        appearance: none;
        background-image: url("../images/icons/chevron-down-litle.png");
        background-repeat: no-repeat;
        background-position: right 20px top 50%;
    }
}


//end selector box


