html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $font-color3;
    font-size: 15px;
    font-weight: 400;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    color: $font-color5;
}

//press footer to bottom

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

//press footer to bottom

.container  {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

//start bages list

.bage {
    color: $bage-color;
    position: relative;
    padding-left: 26px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &--wp::after {
        content: "WordPress";
    }
    &--wp::before {
        background-image: url(../images/icons/wp.svg);
        width: 16px;
        height: 16px;
    }

    &--plugin::after {
        content: "Plugin";
    }
    &--plugin::before {
        background-image: url(../images/icons/wp.svg);
        width: 16px;
        height: 16px;
    }

    &--psd::after {
        content: "PSD";
    }
    &--psd::before {
        background-image: url(../images/icons/ps.svg);
        width: 13px;
        height: 17px;
    }

    &--html::after {
        content: "HTML";
    }
    &--html::before {
        background-image: url(../images/icons/ht3.png);
        width: 15px;
        height: 17px;
    }
}


//end bages list
//start star raiting style

.jq-ry-normal-group svg {
    fill: #fff;
    stroke: #ffc000;
    stroke-width: 40;
}

.jq-ry-rated-group svg {
    fill: #ffbf00;
}

//end star raiting style
