@media (max-width: 1110px) {
    .menu-2nd--expanded {
        justify-content: space-around;
        .menu-2nd__category {
            &-inner {
                display: block;
            }
        }
    }
}


@media (max-width: 995px) {
    .footer {
        &__top {
            padding-bottom: 90px;
        }
        &__inner {
            flex-wrap: wrap;
        }
        &__column {
            margin-bottom: 30px;
            &--first {
                width: 100%;
            }
        }
    }
}

@media (max-width: 900px) {
    .header__bottom {
        position: relative;
        &-inner {
            position: static;
        }
    }
    .menu {
        &__btn { 
            display: block;
        }
        &__list {
            display: none;
            position: absolute;
            left: 0;
            top: 80px;
            width: 100%;
            background-color: #fff;
            margin-left: 0;
            z-index: 5;
            border-bottom: 5px solid $button-blue;
        }
        &__item {
            display: block;
            height: auto;
            text-align: center;
            border-top: 1px solid rgba(#0674ec, 0.15);
            padding-right: 0;
            &-link {
                display: block;
                padding: 22px 0;
            }
        }
        &-2nd {
            position: static;
            width: 100%;
            border-top: none;
            box-shadow: none;
            padding: 0;
            border-top: 1px solid rgba(#0674ec, 1);
        }
    }
}

@media (max-width: 785px) {

    .header__top {
        &-btn {
            display: none;
        }
    }
}

@media (max-width: 715px) {

    .icons-box {
        .message-menu {
            left: -269px;
            &::before {
                left: 287px;
            }
        }
    }

    .footer {
        &__column {
            &--second,
            &--third {
                width: 50%;
            }
            &--fourth {
                width: 100%;
            }
        }
    }
}

@media (max-width: 600px) {

    .header__top {
        position: relative;
        &-inner {
            height: 70px;
        }
        &-logo img {
            height: 40px;
        }
        // &-box {
        //     position: absolute;
        //     background-color: $dark-bg;
        //     left: -375px;
        //     top: 0;
        //     transition: all 0.3s;
        //     &--visible {
        //         left: 15px;
        //     }
        // }
        &-box {
            position: absolute;
            background-color: $dark-bg;
            left: 100%;
            top: 0;
            transition: all 0.3s;
            &--visible {
                left: 15px;
            }
        }

        &-menu-btn {
            display: block;
        }
        .drop-menu {
            top: 70px;
        }
    }

    .header__bottom {
        &-form {
            flex: 1 0 auto;
            margin: 17px 0;
            input {
                width: 100%;
            }
        }
    }

    .icons-box {
        .icon-menu__wrapper {
            position: static;
            height: 70px;
        }

        .drop-menu {
            left: -15px;
            top: 70px;
        }

        .notification-menu::before {
            left: 33px;
        }

        .message-menu::before {
            left: 86px;
        }

        .cart-menu::before {
            left: 141px;
        }

    }

    .header__account {
        height: 70px;
    }
}

@media (max-width: 450px) {
    .icons-box {
        .notification,
        .message {
            display: none;
        }

        .icon-menu__wrapper {
            margin-right: 15px;
        }

        .cart-menu {
            width: 320px;
        }

        .cart-menu::before {
            left: 34px;
        }
    }

    .header__account-avatar {
        margin-left: 0;
        margin-right: 10px;
    }

    .header__bottom-form {
        input {
            padding-right: 70px;
        }
        button {
            width: 46px;
        }
    }

    .account-menu {
        right: -16px;
        &::before {
            right: 79px;
        }
    }

    .footer {
        &__socials {
            flex-wrap: wrap;
            justify-content: space-between;
            &-link {
                margin-bottom: 16px;
                text-align: center;
                & + & {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .header__bottom-form {
        text-align: right;
        input {
            width: 215px;
        }
    }
    .footer {
        &__top {
            padding-bottom: 60px;
        }
        &__column {
            &--second,
            &--third {
                width: 100%;
            }
        }
        &__socials {
            &-link {
                width: 33.3%;
            }
        }
    }
}


@media (min-width: 901px) {
    .menu__list {
        display: flex !important;
    }
}