@media (max-width: 1170px) {
    .promo {
        &__inner {
            padding-bottom: 50px;
        }
        &__select-group {
            width: 100%;
            margin-bottom: 40px;
        }
        form {
            justify-content: center;
        }
        input {
            width: 100%;
        }
    }

    .week-product {
        &__slider {
            box-shadow: none;
        }
        .section-title {
            margin-bottom: 20px;
        }        
    }

    .product__item {
        display: block;
        max-width: 585px;
        margin: 30px auto;
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.2);
        &-description {
            height: auto;
        }
        &-tags {
            margin-bottom: 20px;
            margin-left: -7px;
            a {
                margin-bottom: 10px;
                margin-left: 7px;
            }
        }
        &--vertical {
            max-width: 420px;
            margin: 0 0 30px 0;
            .product__item {
                &-img {
                    min-height: 268px;
                    height: 268px;
                }
            }
        }
        &--small {
            margin: 0 0 30px 30px;
        }
        &--small-list {
            display: flex;
            width: 100%;
            max-width: 100%;
            margin: 0 0 30px 30px;
            .product__item {
                &-img {
                    min-width: 250px;
                    min-height: 232px;
                    height: 232px;
                }
                &-info {
                    flex-wrap: wrap;
                    padding: 15px;
                }
                &-top {
                    width: 60%;
                }
                &-box {
                    width: 40%;
                }
                &-bottom {
                    width: 100%;
                    border-top: 1px solid #ececec;
                    border-left: none;
                    margin-top: 15px;
                    padding: 15px 0 0;
                    flex-direction: row;
                    justify-content: flex-start;
                }
                &-cart {
                    margin-left: 15px;
                }
            }
        }
    }

    .newest-product {
        &__inner-btn {
            padding-bottom: 20px;
            padding-left: 20px;
            button {
                margin-bottom: 10px;
                margin-left: 10px;
            }
        }
    }

    .product-box {
        margin-left: 0;
        justify-content: space-between;
    }

    .slick-dots {
        bottom: 2px;
    }

    .feedback .slick-dots {
        bottom: -24px;
    }

    .offer {
        &__inner {
            justify-content: space-around;
        }
        &__item {
            margin: 0 30px 50px;
        }
    }

    .followers-feed {
        &__slider {
            .product__item {
                margin: 0 auto 30px;
            }
        }
    }

    .reasons {
        &__box {
            justify-content: space-around;
        }
        &__item {
            margin: 0 15px 30px;
        }
    }

    .news {
        &__inner {
            justify-content: space-around;
        }
        &__item {
            margin: 0 8px 30px;
        }
    }

    .product-main__items {
        justify-content: space-around;
    }

    .single-product {
        &__inner {
            justify-content: center;
        }
        &__box {
            width: 575px;
        }
        &__aside {
            margin-left: 30px;
        }
        &__item {
            &-img img {
                width: 575px;
            }
            &-info {
                padding: 0 15px 10px;
            }
        }
        &__information-menu li a {
            font-size: 15px;
        }
        .feature-box__img {
            min-height: 766px;
        }
    }

    .pricing-plan {
        &__items {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin: 0 15px 30px;
        }
    }
}

@media (max-width: 1110px) {
    .menu-2nd--expanded {
        justify-content: space-around;
        .menu-2nd__category {
            &-inner {
                display: block;
            }
        }
    }
    .product__item {
        &--small-list {
            .product__item {
                &-img {
                    min-width: 340px;
                    min-height: 311px;
                    height: 311px;
                }
                &-title {
                    margin: 0;
                }
                &-info {
                    padding: 15px;
                }
                &-top {
                    width: 100%;
                    padding-bottom: 15px;
                }
                &-box {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    border-top: 1px solid #ececec;
                    border-left: none;
                    padding: 0 0 15px;
                    margin-left: -15px;
                }
                &-bottom {
                    margin: 0;
                }
                &-author,
                &-likes,
                &-comments,
                &-star {
                    // margin-top: 16px;
                    // margin-left: 15px;
                    margin: 15px 0 0 15px;
                }
                &-comments {
                    font-size: 16px;
                    display: block;
                }
                &-likes {
                    margin-left: 15px;
                }
            }
        }
    }

    .single-favorites .product-box {
        justify-content: center;
        .product__item--vertical {
            margin-left: 7px;
            margin-right: 7px;
        }
    }

    .favorites {
        .selector-box {
            &:first-child {
                align-items: center;
            }
            flex-wrap: wrap;
            align-items: flex-start;
            &__group--filter {
                width: 100%;
                height: 45px;
                border-bottom: 1px solid #eceff2;
                border-left: none;
                border-right: none;
                margin-bottom: 10px;
            }
            &__group--button {
                padding: 1px 7px;
            }
        }

        .favorites__top-inner {
            height: auto;
        }
    }
}


@media (max-width: 995px) {
    .selector-box {
        &:first-child {
            padding: 15px 0;
            display: block;
            margin-right: 25px;
            .selector-box__link {
                & + .selector-box__link {
                margin: 10px 0 0;
                }
            }
        }
    }
    
    .footer {
        &__top {
            padding-bottom: 90px;
        }
        &__inner {
            flex-wrap: wrap;
        }
        &__column {
            margin-bottom: 30px;
            &--first {
                width: 100%;
            }
        }
    }

    .product-main {
        &__bottom-inner {
            display: block;
        }
        &__aside {
            display: flex;
            margin-bottom: 80px;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__box {
            & + & {
                margin-top: 0;
            }
        }
        &__content {
            margin-left: 0;
        }
    }

    .single-product {
        &__inner {
            display: block;;
        }
        &__content {
            margin-bottom: 30px;
        }
        &__box {
            width: 750px;
            margin: 0 auto;
            &-aside {
                margin: 0 auto;
                width: 750px;
            }
        }
        &__aside {
            margin-left: 0;

        }
        &__item {
            &-img img {
                width: 750px;
            }
            &-info {
                padding: 0 15px 10px;
            }
        }
        &__information-menu li a {
            font-size: 17px;
        }
        .feature-box__img {
            min-height: 1000px;
        }
        &__purchase-btn a {
            display: block;
            width: 300px;
            margin: 0 auto;
        }
        &__information {
            &-section {
                width: 50%;
            }
            &-data {
                width: 50%;
            }
        }
        &__author-links {
            justify-content: center;
            a {
                margin: 0 8px;
            }
        }
    }

    .how-steps {
        &__item {
            &-info {
                width: 427px;
            }
            &-img img {
                width: 427px;
            }
        }
    }
}

@media (max-width: 900px) {
    .header__bottom {
        position: relative;
        &-inner {
            position: static;
        }
    }
    .menu {
        &__btn { 
            display: block;
        }
        &__list {
            display: none;
            position: absolute;
            left: 0;
            top: 80px;
            width: 100%;
            background-color: #fff;
            margin-left: 0;
            z-index: 5;
            border-bottom: 5px solid $button-blue;
        }
        &__item {
            display: block;
            height: auto;
            text-align: center;
            border-top: 1px solid rgba(#0674ec, 0.15);
            padding-right: 0;
            &-link {
                display: block;
                padding: 22px 0;
            }
        }
        &-2nd {
            position: static;
            width: 100%;
            border-top: none;
            box-shadow: none;
            padding: 0;
            border-top: 1px solid rgba(#0674ec, 1);
        }
    }

    .offer {
        &__item {
            margin: 0 15px 50px;
        }
    }

    .product-box {
        display: block;
    }

    .product__item {
        &--vertical {
            width: 420px;
            margin-left: auto;
            margin-right: auto;
            .product__item {
                &-img {
                    min-height: 267px;
                    height: 267px;
                }
            }
        }
    }

    .product-box {
        justify-content: center;
    }

    .reasons {
        &__item {
            margin: 0 0 30px;
        }
    }

    .product-main {
        &__top-inner {
           display: block;
           padding: 15px 0;
        }
        &__aside {
            margin-bottom: 60px;
        }
        &__box {
            width: 48%;
            & + &.product-main__box--price-range {
                margin-top: 30px;
            }
            &--price-range {
                width: 100%;
            }

        }
    }


    .selector-box {
        &__group {
            padding: 15px 0;
            &--select {
                & + & {
                    margin-left: 30px;
                }
            }
            &--button {
                padding: 1px 7px;
            }
        }
        &:first-child {
            display: flex;
            margin-right: 0;
            .selector-box__link {
                & + .selector-box__link {
                margin: 0 0 0 30px;
                }
            }
        }
    }

    .pagination,
    .pagination--left {
        justify-content: center;
    }

    .single-favorites .product-box {
        .product__item--vertical {
            margin: 0 auto 30px;
        }
    }

    .favorites {
        .selector-box {
            &:first-child {
                align-items: center;
            }
            flex-wrap: wrap;
            align-items: flex-start;
            &__group--filter {
                // width: 100%;
                // height: 45px;
                // border-bottom: 1px solid #eceff2;
                // border-left: none;
                // border-right: none;
                // margin-bottom: 10px;
                margin-left: 30px;
            }
           
            .selector-box__group + .selector-box__group {
                margin-left: 30px;
                margin-bottom: 10px;
                padding: 0;
            }
        }
    }

    .how-steps {
        &__item {
            padding: 70px;
            &-inner {
                display: block;
                margin: 0 auto;
                width: 458px;
            }
            &-info {
                width: 458px;
            }
            &-img img {
                width: 458px;
            }
        }
    }
}

@media (max-width: 785px) {

    .header__top {
        &-btn {
            display: none;
        }
    }

    .statistic {
        &__item {
            width: 50%;
            margin-bottom: 30px;
        }
    }

    .reasons {
        &__item {
            margin: 0 15px 30px;
        }
    }

    .support__item {
        width: 100%;
        &--left {
            border-right: none;
        }
    }

    .single-product {
        &__box {
            width: 685px;
            &-aside {
                width: 685px;
            }
        }
        &__aside {
            margin-left: 0;

        }
        &__item {
            &-img img {
                width: 750px;
            }
        }
        &__information-menu li a {
            font-size: 15px;
        }
        .feature-box__img {
            min-height: 910px;
        }
    }

}

@media (max-width: 715px) {

    .icons-box {
        .message-menu {
            left: -269px;
            &::before {
                left: 287px;
            }
        }
    }

    .promo {
        &__inner {
            padding-bottom: 0;
        }
        &__form {
            display: none;
        }
    }

    .product__item {
        width: 570px;
        &--small {
            width: 262px;
        }
        &--small-list {
            display: block;
            width: 262px;
            .product__item {
                &-img {
                    min-width: 262px;
                    min-height: 239px;
                    height: 239px;
                }
                &-author {
                    width: 100%;
                }
                &-title,
                &-description {
                    margin-bottom: 15px;
                }
                &-likes,
                &-comments {
                    margin-left: 20px;
                }
            }
        }
    }

    .product-search,
    .offer {
        padding: 70px 0 20px;
    }

    .pricing-plan,
    .page-404__inner,
    .single-favorites__inner,
    .product-main__bottom-inner,
    .news,
    .feedback__inner,
    .reasons,
    .footer__top,
    .statistic,
    .followers-feed,
    .newest-product,
    .week-product {
        padding: 70px 0;
    }

    .single-favorites__inner,
    .news,
    .statistic {
        padding-bottom: 40px;
    }

    .single-product__inner {
        padding-bottom: 70px;
    }

    .choice {
        &__item {
            width: 100%;
            padding: 70px 15px;
        }

    }

    .footer {
        &__column {
            &--second,
            &--third {
                width: 50%;
            }
            &--fourth {
                width: 100%;
            }
        }
    }
    .single-product {
        &__box {
            width: 570px;
            &-aside {
                width: 570px;
            }
        }
        &__item {
            &-img img {
                width: 570px;
            }
            &-info {
                padding: 0 15px 10px;
            }
        }

        &__item-socials.socials {
            justify-content: space-between;
            flex-wrap: wrap;
            .socials-link {
                margin-bottom: 16px;
                text-align: center;
                margin-left: 0;
                width: 33%;
            }
        }

        &__information-menu li a {
            font-size: 17px;
            line-height: 1.6;
        }
        .feature-box__img {
            min-height: 760px;
        }
        &__purchase-btn a {
            display: block;
            width: 300px;
            margin: 0 auto;
        }
        &__information {
            &-section {
                width: 50%;
            }
            &-data {
                width: 50%;
            }
        }
        &__author-links {
            justify-content: center;
            a {
                margin: 0 8px;
            }
        }
    }

    .favorites__top-inner:first-child .selector-box {
        min-width: 180px;
    }

    .how__title {
        padding-bottom: 0px;
    }

    .menu-style1--how-it-works {
        padding: 50px 0 20px;
    }

    .pricing-plan__item-list li .pricing-plan__item-tip {
            display: none;
    }
}

@media (max-width: 600px) {

    .header__top {
        position: relative;
        &-inner {
            height: 70px;
        }
        &-logo img {
            height: 40px;
        }
        // &-box {
        //     position: absolute;
        //     background-color: $dark-bg;
        //     left: -375px;
        //     top: 0;
        //     transition: all 0.3s;
        //     &--visible {
        //         left: 15px;
        //     }
        // }
        &-box {
            position: absolute;
            background-color: $dark-bg;
            left: 100%;
            top: 0;
            transition: all 0.3s;
            &--visible {
                left: 15px;
            }
        }

        &-menu-btn {
            display: block;
        }
        .drop-menu {
            top: 70px;
        }
    }

    .header__bottom {
        &-form {
            flex: 1 0 auto;
            margin: 17px 0;
            input {
                width: 100%;
            }
        }
    }

    .icons-box {
        .icon-menu__wrapper {
            position: static;
            height: 70px;
        }

        .drop-menu {
            left: -15px;
            top: 70px;
        }

        .notification-menu::before {
            left: 33px;
        }

        .message-menu::before {
            left: 86px;
        }

        .cart-menu::before {
            left: 141px;
        }

    }

    .header__account {
        height: 70px;
    }

    .promo {
        &__title {
            font-size: 50px;
            line-height: 60px;
        }
        &__description {
            margin-bottom: 30px;
        }
        &__links a {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .product__item {
        width: 420px;
        &-img {
            min-width: 420px;
            min-height: 340px;
            height: 340px;
        }
        &-info {
            padding: 30px 30px 25px;
        }
        &--small {
            width: 262px;
        }
        &--small-list {
            width: 262px;
            .product__item {
                &-img {
                    min-width: 262px;
                    min-height: 239px;
                    height: 239px;
                }
            }
        }
    }

    .feedback__item {
        padding: 25px 15px;
    }

    .selector-box {
        flex-wrap: wrap;
        &:last-child {
            margin-left: -15px;
        }
        &__group {
            margin-left: 15px;
            & + & {
                margin-left: 15px;
            }
            
        }
    }

    .product-main {
        &__box {
            width: 100%;
            & + & {
                margin-top: 30px;
            }
        }
    }

    .single-product {
        &__box {
            width: 420px;
            &-aside {
                width: 420px;
            }
        }
        &__item {
            &-img img {
                width: 420px;
            }
        }
        &__information-menu li a {
            font-size: 15px;
        }
        .feature-box__img {
            min-height: 560px;
        }
        &__item-links {
            flex-wrap: wrap;
            a {
                margin: 15px 10px;
            }
        }
    }

    .login-box {
        padding: 30px 0;
        width: 420px;
        &__top,
        &__bottom {
            padding: 0 30px;
        }
        &__form-hints {
            display: block;
        }
    }

    .how-steps {
        &__item {
            padding: 70px 0;
            &-inner {
                width: 420px;
            }
            &-info {
                width: 420px;
            }
            &-img img {
                width: 420px;
            }
        }
    }
}

@media (max-width: 450px) {
    .icons-box {
        .notification,
        .message {
            display: none;
        }

        .icon-menu__wrapper {
            margin-right: 15px;
        }

        .cart-menu {
            width: 320px;
        }

        .cart-menu::before {
            left: 34px;
        }
    }

    .header__account-avatar {
        margin-left: 0;
        margin-right: 10px;
    }

    .header__bottom-form {
        input {
            padding-right: 70px;
        }
        button {
            width: 46px;
        }
    }

    .account-menu {
        right: -16px;
        &::before {
            right: 79px;
        }
    }

    .promo {
        &__inner {
            min-height: 650px;
        }
        &__title {
            font-size: 40px;
            line-height: 46px;
        }
    }

    .offer {
        &__item {
            margin: 0 0 50px;
        }
    }

    .section-title {
        padding: 30px 20px;
        font-size: 25px;
    }

    .product__item {
        width: 345px;
        &-img {
            min-width: 345px;
            min-height: 280px;
            height: 280px;
        }
        &-info {
            padding: 25px 15px 25px;
        }
        &-bottom {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &-star {
            margin: 23px auto 0;
        }
        &--vertical {
            .product__item {
                &-img {
                    min-width: 345px;
                    min-height: 220px;
                    height: 220px;
                }
                &-top {
                    padding: 0 25px;
                }
                &-bottom {
                    padding: 15px 25px 0;
                }
                &-star {
                    margin: 0;
                }
            }
        }
        &--small {
            width: 262px;
            &-img {
                min-width: 0;
                min-height: 160px;
                height: 160px; 
            }
        }
        &--small-list {
            width: 262px;
            .product__item {
                &-img {
                    min-width: 262px;
                    min-height: 239px;
                    height: 239px;
                }
            }
        }
    }

    .newest-product__inner {
        margin-bottom: 10px;
    }

    .statistic {
        &__item {
            width: 100%;
        }
    }

    .reasons {
        &__item {
            margin: 0 0 30px;
        }
    }
    
    .join__title,
    .choice__title,
    .light-title {
        font-size: 32px;
    }

    .light-title--2nd-level {
        font-size: 30px;
    }

    .feedback__item {
        &::after {
            display: none;
        }
    }

    .footer__socials.socials {
        justify-content: space-between;
        .socials-link {
            margin-bottom: 16px;
            text-align: center;
            margin-left: 0;
        }
    }

    .news {
        &__item {
            margin: 0 0 30px;
            max-width: 345px;
            &-img {
                min-height: 220px;
            }
        }
    }

    .pagination,
    .pagination--center,
    .pagination--left {
        display: block;
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        .pagination__prev,
        .pagination__next {
            span, a {
                position: absolute;
                margin: 0 auto;
                bottom: -38px;
            }
        }
        .pagination__prev {
            span, a {
                left: 50%;
                transform: translateX(-55px);
            }
        }
        
        .pagination__next {
            span, a {
                left: 50%;
                transform: translateX(5px);
            }
        }

        .pagination__list {
            margin: 10px 0;
        }
    }

    .single-product {
        &__box {
            width: 345px;
            &-aside {
                width: 345px;
                padding: 15px;
            }
        }
        &__item {
            &-img img {
                width: 345px;
            }
        }
        &__information-menu  {
            flex-wrap: wrap;
            li {
                width: 100%;
                &.active,
                &:hover {
                    border-bottom: 1px solid #ececec;
                }
                a {
                    line-height: 2;
                    font-size: 17px;
                }
            }
        }
        .feature-box__img {
            min-height: 460px;
        }
        &__item-socials.socials {
            .socials-link {
                width: 50%;
            }
        }
        .feature-box {
            padding: 15px;
        }
        &__purchase-info {
            padding: 15px;
        }
        &__purchase-btn a {
            width: 100%;
        }
    }

    .favorites__top-inner {
        flex-wrap: wrap;
        .selector-box__info {
            margin-left: 15px;
        }
    }

    .page-404__img img {
        width: 345px;
    }

    .login-box {
        width: 345px;
        &__top,
        &__bottom {
            padding: 0 15px;
        }
    }

    .how-steps {
        &__item {
            padding: 50px 0;
            &-inner {
                width: 345px;
            }
            &-info {
                width: 345px;
            }
            &-img img {
                width: 345px;
            }
        }
    }

    .pricing-plan {
        &__item {
            margin: 0 0 30px;
            padding: 0 15px 15px;
            width: 345px;
        }
    }
}

@media (max-width: 375px) {
    .header__bottom-form {
        text-align: right;
        input {
            width: 215px;
        }
    }

    .product__item {
        width: 290px;
        &-img {
            min-width: 290px;
            min-height: 235px;
            height: 235px;
        }
        &--vertical {
            .product__item {
                &-img {
                    min-width: 290px;
                    min-height: 185px;
                    height: 185px;
                }
                &-cart {
                    margin: 15px 0 0 10px;
                }
            }
        }
        &--small {
            width: 262px;
            &-img {
                min-width: 0;
                min-height: 160px;
                height: 160px; 
            }
        }
        &--small-list {
            width: 262px;
            .product__item {
                &-img {
                    min-width: 262px;
                    min-height: 239px;
                    height: 239px;
                }
            }
        }
    }

    .reasons {
        &__item {
            padding: 50px 15px 35px;
        }
    }

    .news {
        &__item {
            max-width: 290px;
            &-info {
                padding: 25px 15px;
            }
            &-details {
                padding-left: 15px;
                padding-right: 15px;
            }
            &-img {
                min-height: 185px;
            }
        }
    }
    
    .footer {
        &__top {
            padding-bottom: 60px;
        }
        &__column {
            &--second,
            &--third {
                width: 100%;
            }
        }
    }

    .footer__socials.socials {
        .socials-link {
            width: 33.3%;
        }
    }

    .single-product {
        &__box {
            width: 290px;
            &-aside {
                width: 290px;
            }
        }
        &__item {
            &-img img {
                width: 290px;
            }
            &-share {
                display: block;
            }
        }

        .feature-box__img {
            min-height: 386px;
        }
        &__item-socials.socials {
            .socials-link {
                width: 33%;
            }
        }
        &__information {
            &-section {
                width: 40%;
            }
            &-data {
                width: 60%;
            }
        }
        &__author-links {
            display: block;
            a {
                width: 100%;
                margin: 15px 0;
            }
        }
    }

    .page-404__img img {
        width: 290px;
    }

    .login-box {
        width: 290px;
    }

    .how-steps {
        &__item {
            padding: 50px 0;
            &-inner {
                width: 290px;
            }
            &-info {
                width: 290px;
            }
            &-img img {
                width: 290px;
            }
        }
    }

    .pricing-plan {
        &__item {
            width: 290px;
        }
    }
}


@media (min-width: 901px) {
    .menu__list {
        display: flex !important;
    }
}